body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.bg-darkish {
  background-color: #555;
  color: white;
}

.bg-grey {
  background-color: #ccc;
  color: #333;
}
